<h2 class="px-8 pt-4 pb-0 backdrop-opacity-40 text-4xl font-bold text-white mb-4">Acerca de mi</h2>
<p class="text-white leading-relaxed px-8 max-w-5xl">
    I'm <b>Facundo Wegher Osci</b>, <b class="text-green-500">Food Engineer</b>,
    <b class="text-green-500">Fullstack Developer</b> and <b class="text-green-500">Game Programmer</b>. <b
        class="text-slateblue">Argentinian. Italian Passport.</b><br>
    My interests span technology, including the metaverse, artificial intelligence, video game development,
    sports, and music. With a strong professional background and a constant pursuit of the latest trends and
    technologies.
</p>
<p class="text-gray-800 leading-relaxed px-8">
    I welcome anyone interested in learning more about my work to <a href="#contact" class="nav-link">connect
        with me</a>.
    <br>
    <a href="files/CV_FACUNDO_WEGHER_OSCI_EN.pdf" target="_blank" rel="noopener noreferrer">
        <button type="submit" class="btn">Download Resume</button>
    </a>
</p>
