<header>
	<div class="overlay">
	<!-- <div class="overlay" style="background-image: url(https://www.wegher.com.ar/images/backgroundpetruzzo.webp); background-size: cover; background-position: 50%;"> -->
		<h1>Facundo Wegher</h1>
		<h3>Reasons for Choosing US</h3>
		<p>Here you'll find what you need, we can solve almost any problem you have. We have the greatest team ready to hop on top of your query and kick his ass off.</p>
		<br>
		<section class="buttons">
			<button>WEBSITES</button>
			<button>FOOD ENGINEERING</button>
			<button>GAMES</button>
		</section>
	</div>
</header>