<header>
    <div class="container">
      <div class="logo">Mi Portafolio</div>
      <nav>
        <ul class="nav-list">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/proyectos">Proyectos</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
        <div class="menu-icon" (click)="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </nav>
    </div>
    <div class="mobile-menu" *ngIf="isMenuOpen">
      <ul class="nav-list">
        <li><a routerLink="/" (click)="closeMenu()">Inicio</a></li>
        <li><a routerLink="/proyectos" (click)="closeMenu()">Proyectos</a></li>
        <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
      </ul>
    </div>
  </header>
  