header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffcc00; /* Cambia a tu color de resaltado */
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      margin-top: 10px;
    }
  
    nav ul li {
      margin: 0;
    }
  }

  /* Tu CSS anterior permanece igual */

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .mobile-menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: flex;
    }
  
    nav {
      position: relative;
    }
  
    .nav-list {
      display: flex;
      align-items: center;
    }
  
    .mobile-menu {
      display: block;
    }
  }
  